<app-profile-header></app-profile-header>
<div class="container text-align-center mt-5">
  <h1 class="m-0">Welcome <strong>{{user.firstName}}</strong></h1>
  <h2>These are your advertisements</h2>
  <ng-container *ngIf="loading">
    <div class="d-flex justify-content-center m-xl-5">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
  <ng-container *ngIf="!loading">
    <div *ngIf="!noAdsFound == false" class="container text-align-center">
      <img src="../../../../assets/images/second_sound_logo.png" id="image-id" alt="Logo Second Sound" class="png-logo">
      <br>
      <h3 style="font-family: 'Courier New',monospace">
        No advertisements uploaded yet. <br> Create an advertisement and find it here!
      </h3>
    </div>

    <div class="row">
      <app-ad-card
        *ngFor="let advertisement of advertisements"
        [advertisement]="advertisement"
        class="col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-2 mb-2">
      </app-ad-card>
    </div>

  </ng-container>
</div>

