<div class="container">
  <div class="row d-flex justify-content-center align-items-baseline">
    <div class="col-md-2">
      <a routerLink="/">
        <img src="assets/images/second_sound_logo.png" alt="Logo Second Sound" class="png-logo">
      </a>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h1>My Second Sound</h1>
      </div>
      <div class="d-flex">
        <a routerLink="/my-advertisements" routerLinkActive="route-active" class="align-items-baseline" mat-button>
          My Advertisements
        </a>
        <a routerLink="/advertisement/saved" routerLinkActive="route-active" mat-button>
          Favorite Advertisements
        </a>
        <a routerLink="/user" routerLinkActive="route-active" mat-button>
          My Profile
        </a>
        <a routerLink="/messenger" routerLinkActive="route-active" mat-button>
          Messages
        </a>
        <a routerLink="/ratings" routerLinkActive="route-active" mat-button>
          My Ratings
        </a>
      </div>
    </div>
  </div>
</div>
<hr class="m-0">
