<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto py-4">
      <div class="title">
        <mat-card>
          <img src="../../../../assets/images/second_sound_logo.png" alt="Logo Second Sound" class="png-logo">
          <mat-card-header class="justify-content-center flex-column">
            <h1>Place Advertisement</h1>
          </mat-card-header>
          <mat-card-content class="d-flex justify-content-center">
            <form class="form-width">
              <div>
                <img [src]="imgFile" style="height:200px" alt="uploaded image" class="mb-3 mt-3">
              </div>
              <input type="file" (change)="onSelectFile($event)" [formControl]="imageFormControl">
              <mat-form-field class="form-full-width pt-2" appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Ex. Crazy Piano" [errorStateMatcher]="matcher" [formControl]="titleFormControl" maxlength="128" [(ngModel)]="title">
                <mat-icon color="primary" matSuffix>title</mat-icon>
                <mat-hint>Please add a title</mat-hint>
                <mat-error *ngIf="titleFormControl.hasError('required')">
                  A <strong>title</strong> is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-full-width pt-2" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Ex. This is the most beautiful instrument you've ever seen..." [errorStateMatcher]="matcher" [formControl]="descriptionFormControl" cdkTextareaAutosize
                          cdkAutosizeMinRows="8" [(ngModel)]="description"></textarea>
                <mat-icon color="primary" matSuffix>article</mat-icon>
                <mat-hint>Please add a description</mat-hint>
                <mat-error *ngIf="descriptionFormControl.hasError('required')">
                  A <strong>description</strong> is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-full-width pt-2" appearance="outline">
                <mat-label>Price</mat-label>
                <input type="number" step="0.01" matInput placeholder="Ex. 2500,00" [errorStateMatcher]="matcher" [formControl]="priceFormControl" [(ngModel)]="price">
                <mat-icon color="primary" matSuffix>euro</mat-icon>
                <mat-hint>Please add a price</mat-hint>
                <mat-error *ngIf="priceFormControl.hasError('required')">
                  A <strong>price</strong> is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <button (click)="openDialog()" [disabled]="!getFormState()" mat-flat-button color="primary" type="button" class="justify-content-center my-2 mb-5">
                Place Advertisement
              </button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
