<app-profile-header></app-profile-header>
<div class="container">
  <div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="d-none d-xl-block col-lg-3">
      <div class="sidebar-heading border-bottom bg-light"></div>
      <div class="list-group list-group-flush">
        <button class="btn btn-primary" padding="10px" routerLink="../../" id="incommingToggle">back to messages</button>
        <app-bid-element [advertisement]="advertisement" [bids]="bids"></app-bid-element>

      </div>
    </div>
    <!-- Page content wrapper-->

    <div class="d-none d-xl-block col-lg-8">
      <div *ngIf="(authorized  == true) " >
        <div class="row">
          <div class="col-22 col-xl-10 col-xl-8 col-xl-6 mx-auto py-4">
            <div class="messages">
              <mat-card>
                <div class="row text-left mx-auto">
                  <div *ngFor="let message of messages" >
                    <h2 class="card-title mb-8  text-align:center ">{{message.sender.firstName}} : {{message.message}}</h2>
                  </div>
                </div>


                <mat-card-content class="d-flex justify-content-center">
                  <form class="form-width" [formGroup]="messageForm">

                    <mat-form-field class="form-full-width pt-2" appearance="outline">
                      <mat-label>Message</mat-label>
                      <textarea matInput placeholder="Is the item still available" formControlName="message" cdkTextareaAutosize
                                cdkAutosizeMinRows="8"></textarea>
                      <mat-icon color="primary" matSuffix>article</mat-icon>
                    </mat-form-field>


                    <button (click)="sendMessage()" mat-flat-button color="primary" type="button" class="justify-content-center my-2 mb-5">
                      Send Message
                    </button>
                  </form>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="d-none d-xl-block col-lg-3">
      <div class="sidebar-heading border-bottom bg-light"></div>
      <div class="list-group list-group-flush">
        <app-seller-element [advertisement]="advertisement" [seller]="seller"></app-seller-element>
      </div>
    </div>
  </div>
  </div>


