.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.icon-align {
  vertical-align: baseline !important;
}

.route-active {
  color: #132b63;
  background: var(--bs-bg-opacity);
  border-bottom: 2px solid #132b63 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.mat-menu-item:hover {
  color: #132b63;
}

.banner-image {
  max-height: 20px;
}
