<div class="container mb-3">
  <div class="col-12 d-block d-md-none d-sm-block text-align-center my-3">
    <a routerLink="/">
      <img src="../../../../assets/images/second_sound_text.png" alt="Logo Second Sound" style="width: 45%">
    </a>
  </div>
  <div class="row">
    <div class="col-7 justify-content-start">
      <div class="row">
        <div class="d-none d-md-block col-md-5 col-3">
          <a routerLink="/" mat-button>
            <img src="assets/images/second_sound_text.png" alt="Second Sound" class="banner-image">
          </a>
        </div>
        <div class="col-md-4 col-4">
          <a routerLink="/info" routerLinkActive="route-active" mat-button>
            <span class="fa fa-info-circle icon-align"></span>
            Help & Info
          </a>
        </div>
        <div class="col-md-3 col-5">
          <a routerLink="/contact" routerLinkActive="route-active" mat-button>
            <span class="fa fa-envelope icon-align"></span>
            Contact
          </a>
        </div>
      </div>
    </div>
    <div class="col-5 d-flex justify-content-end">
      <ng-container *ngIf="!isLoggedIn">
        <a routerLink="/login" routerLinkActive="route-active" mat-button>
          <span class="fa fa-user icon-align"></span>
          Log in
        </a>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <a mat-button [matMenuTriggerFor]="userMenu">
          <span class="fa fa-user icon-align"></span>
          {{ user?.firstName }} {{ user?.lastName }}
          <span class="fa fa-chevron-down icon-align"></span>
        </a>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item routerLink="advertisement/create">Place advertisement</button>
          <button mat-menu-item routerLink="/my-advertisements">My advertisements</button>
          <button mat-menu-item routerLink="/advertisement/saved">Favorite Advertisements</button>
          <button mat-menu-item routerLink="/user">My Profile</button>
          <button mat-menu-item routerLink="/messenger">Messages</button>
          <button mat-menu-item>My Reviews</button>
          <button mat-menu-item (click)="logOutUser()">Logout</button>
        </mat-menu>
      </ng-container>
    </div>
  </div>
</div>

