<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-start">
      <div class="row">
        <div class="col">
          <a routerLink="/info" routerLinkActive="route-active" mat-button>
            <span class="fa fa-info-circle icon-align"></span>
            Help & Info
          </a>
        </div>
        <div class="col">
          <a routerLink="/contact" routerLinkActive="route-active" mat-button>
            <span class="fa fa-envelope icon-align"></span>
            Contact
          </a>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-end">
      <a routerLink="/login" routerLinkActive="route-active" mat-button>
        <span class="fa fa-user icon-align"></span>
        Log in
      </a>
    </div>
  </div>
</div>
<hr class="m-0">

