<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-start">
      <div class="row">
        <div class="col">
          <a routerLink="/" mat-button>
            <img src="assets/images/second_sound_text.png" alt="Second Sound" class="banner-image">
          </a>
        </div>
        <div class="col">
          <a routerLink="/info" routerLinkActive="route-active" mat-button>
            <span class="fa fa-info-circle icon-align"></span>
            Help & Info
          </a>
        </div>
        <div class="col">
          <a routerLink="/contact" routerLinkActive="route-active" mat-button>
            <span class="fa fa-envelope icon-align"></span>
            Contact
          </a>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-end">
      <ng-container *ngIf="!isLoggedIn">
        <a routerLink="/login" routerLinkActive="route-active" mat-button>
          <span class="fa fa-user icon-align"></span>
          Log in
        </a>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <a mat-button [matMenuTriggerFor]="userMenu">
          <span class="fa fa-user icon-align"></span>
          {{ user?.firstName }} {{ user?.lastName }}
          <span class="fa fa-chevron-down icon-align"></span>
        </a>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item>My advertisements</button>
          <button mat-menu-item>Favorite Advertisements</button>
          <button mat-menu-item routerLink="/user">My Profile</button>
          <button mat-menu-item>My Reviews</button>
          <button mat-menu-item (click)="logOutUser()">Logout</button>
        </mat-menu>
      </ng-container>
    </div>
  </div>
</div>
<hr class="m-0">

