.title {
  text-align: center;
}

.route-active {
  color: var(--bs-link-color);
  background: var(--bs-bg-opacity);
  border-bottom: 2px solid var(--bs-link-color) !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.login-full-width {
  width: 100%;
}

.half-width {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
