<app-header></app-header>
<div *ngIf="error != null">
  <app-pagenotfound></app-pagenotfound>
</div>


<div *ngIf="advertisement != null" class="container mt-2">

  <div class="mb-5 text-align-center">
    <h5>{{advertisement.subCategory.category.name}} <span>&#8594;</span> <strong>{{advertisement.subCategory.name}}</strong></h5>
  </div>

<!--  <div class="row justify-content-center">-->
<!--    <div class="d-sm-block d-md-block d-lg-none col-sm-12 col-md-9 mt-2">-->
<!--      <mat-card class="d-none d-lg-block col-md-3 mb-5">-->
<!--        <p>Here comes the bids</p>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row justify-content-center">-->
<!--    <div class="d-sm-block d-md-block d-lg-none col-sm-12 col-md-9 mt-2">-->
<!--      <mat-card class="d-none d-lg-block col-md-3 mb-5">-->
<!--        <p> Here comes info seller </p>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--  </div>-->

  <div class="row justify-content-center">
    <div class="d-none d-lg-block col-md-3">
      <mat-card class="d-none d-lg-block col-md-3 mb-5 form-full-width">
        <p>Here comes the bids</p>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <h1>{{advertisement.title}} </h1>
        </mat-card-header>

        <img class="card-img-top responsive" src="{{advertisement.imgFile}}" alt="{{advertisement.title}}">

        <mat-card-content class="mb-5">

          <h4 class="mt-3 fw-bold">Asking price: {{advertisement.price | currency: 'EUR': 'symbol': '1.2-2': 'nl'}}</h4>
          <p style="text-align: justify">
            {{advertisement.description}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="d-none d-lg-block col-md-3 ">
      <mat-card class="d-none d-lg-block col-md-3 mb-5 form-full-width">
        <p> Here comes info seller </p>
      </mat-card>
    </div>
  </div>



</div>




<div *ngIf="advertisement != null" class="container">

  <div class="row justify-content-center  mt-5">





  </div>
</div>






