<div class="card">
  <div class="advertisementImageDiv">
    <img class="card-img-top responsive advertisementImage" src="{{advertisement.imgFile}}" alt="{{advertisement.title}}" style="display: block">
    <div *ngIf="isLoggedIn" class="des">
      <div *ngIf="advertisement.saved == true">
        <a (click)="switchLikeButton(advertisement.id)" style="cursor: pointer"><img src="../../../../assets/images/heart-red.png" class="like-ad" alt="dislike"></a>
      </div>
      <div *ngIf="advertisement.saved == false">
        <a (click)="switchLikeButton(advertisement.id)" style="cursor: pointer"><img src="../../../../assets/images/heart-transparent.png" class="like-ad" alt="like"></a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5>{{advertisement.subCategory.category.name}} <span>&#8594;</span> {{advertisement.subCategory.name}}</h5>
    <h2 class="card-title mb-0 text-truncate">{{advertisement.title}}</h2>
    <h4>{{advertisement.price | currency: 'EUR': 'symbol': '1.2-2': 'nl'}}</h4>
    <p class="card-text text-truncate-container" style="min-height: 60px">{{advertisement.description}}</p>
    <div class="text-center">
      <button mat-raised-button color="primary" routerLink="/advertisement/details/{{advertisement.id}}">Open advertisement</button>
    </div>
  </div>
</div>
