
h3 {
  font-family: 'Courier New',monospace;
  font-size: 2vh;
  margin-bottom: 0;
}

hr {
  width: 85%;
  color: #1B3F92;
  margin-top: 12px;
  margin-bottom: 12px;
}

.map-frame {
  height: 180px;
  border: 1px solid #C6CFE4;
}

#map {
  height: 100%;
  width: 100%;
}

p {
  color: #767676;
}
