<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-2">
      <img src="../../../../assets/images/logo_second_sound.svg" alt="Logo Second Sound" class="svg-logo">
    </div>
    <div class="col-md-8">
      <div class="search d-flex">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control" placeholder="Search advertisements...">
        <button class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</div>
<hr>
