<div class="container mb-2">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-3 d-none d-sm-none d-lg-block d-xl-block d-xxl-block">
      <a routerLink="/">
        <img src="../../../../assets/images/second_sound_logo.png" alt="Logo Second Sound" class="png-logo">
      </a>
    </div>
    <div class="col-12 col-md-8">
      <div class="search d-flex">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control" placeholder="Search advertisements...">
        <button mat-raised-button color="primary">Search</button>
      </div>
    </div>
  </div>
</div>
<hr class="m-0">
