<app-header></app-header>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="d-sm-block d-md-block d-lg-none col-sm-12 col-md-9 mt-2">
      <app-filtertree></app-filtertree>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="d-none d-lg-block col-md-3 mt-2">
      <app-filtertree></app-filtertree>
    </div>
    <div class="col-md-9">
      <app-selected-advertisements></app-selected-advertisements>
    </div>
  </div>
</div>



